* {
	box-sizing: border-box;
}

body {
	background-color: black;
	font-family:'Times New Roman', Times, serif;
	color: white;
	font-size: larger;
	text-align: center;
}

table {
	margin: 10px auto;
}

.cell {
	width: 40px;
	height: 40px;
	text-align: center;
	background-color: rgb(183, 183, 183);
}

.cell:hover {
	background-color: rgb(247, 245, 198);
	cursor: pointer;
}

.selected {
	background-color: rgb(83, 83, 83);
	color: rgb(10, 29, 235);
}

.hidden{
	display: none;
}

.restart{
	font-size: xx-large;
	background-color: skyblue;
}

.hint{
	background-color: white;
}

.lighted{
	background-color: rgb(242, 242, 179);
}

.safeLefts{
	font-size: 10px
}

.day-light{
	background-color: rgb(162, 162, 94);
	color: black;
}
button{
	padding: 2px;
	border-radius: 10%;
	background-color: rgb(189, 162, 189);
	line-height: 1;
}

.safe-click{
	background-color: rgb(156, 202, 187);
}

table {
    border-collapse: separate;
    border-spacing: 4px;
}

.hint{
	/* background-color: transparent; */
    border: none;
}